exclude: (^doc/)|(.*/venv/)
default_stages: [commit]
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        name: ruff-cellxgene-census
        files: ^api/python/cellxgene_census
        args: ["--config=./api/python/cellxgene_census/pyproject.toml", "--fix"]
      - id: ruff
        name: ruff-tools
        files: ^tools
        args: ["--config=./tools/pyproject.toml", "--fix"]
      - id: ruff
        name: ruff-notebooks
        files: ^api/python/notebooks
        args: ["--config=./api/python/cellxgene_census/pyproject.toml", "--fix"]
      - id: ruff-format
        name: ruff-format-cellxgene-census
        files: ^api/python/cellxgene_census
        args: ["--config=./api/python/cellxgene_census/pyproject.toml"]
      - id: ruff-format
        name: ruff-format-tools
        files: ^tools
        args: [ "--config=./tools/pyproject.toml"]
      - id: ruff-format
        name: ruff-format-notebooks
        files: ^api/python/notebooks
        args: ["--config=./api/python/cellxgene_census/pyproject.toml"]
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        name: mypy-cellxgene-census
        files: ^api/python/cellxgene_census
        args: ["--config-file=./api/python/cellxgene_census/pyproject.toml"]
        additional_dependencies:
          - attrs
          - types-requests
          - pytest
          - pandas-stubs
          - numpy
          - typing_extensions
          - types-setuptools
      - id: mypy
        name: mypy-tools-cellxgene_census_builder
        files: ^tools/cellxgene_census_builder
        args: ["--config-file=./tools/cellxgene_census_builder/pyproject.toml", "--python-version=3.11"]
        additional_dependencies:
          - attrs
          - types-requests
          - pytest
          - pandas-stubs
          - numpy
          - typing_extensions
          - types-setuptools
          - types-PyYAML
          - types-psutil
      - id: mypy
        name: mypy-tools-census-contrib
        files: ^tools/census_contrib
        args: ["--config-file=./tools/census_contrib/pyproject.toml", "--python-version=3.10"]
        additional_dependencies:
          - attrs
          - types-requests
          - pandas-stubs
          - numpy
          - typing_extensions
          - types-setuptools
          - types-PyYAML
      - id: mypy
        name: mypy-tools-other
        files: ^tools/
        exclude: ^tools/(cellxgene_census_builder|census_contrib)
        args: ["--config", "./tools/pyproject.toml"]
        additional_dependencies:
          - numpy
          - pandas-stubs
          - typing_extensions
          - types-PyYAML

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
    - id: markdownlint
