pyarrow
pandas
anndata
numpy
# NOTE: You can also build this dependency from source, per ./notebooks/README.md.
# NOTE: The builder's version of tiledbsoma MUST be <= the API's tiledbsoma version, to ensure reader compatibility
# of TileDB on-disk storage format
tiledbsoma==1.0rc6
scipy
fsspec
s3fs
requests
aiohttp
Cython  # required by owlready2
wheel  # required by owlready2
owlready2
gitpython
attrs>=22.2.0
