pyarrow
pandas
anndata
numpy
tiledb
# NOTE: You can also build this dependency from source, per ./notebooks/README.md.
tiledbsoma==0.5.0a4
scipy
fsspec
s3fs
requests
aiohttp
Cython  # required by owlready2
wheel  # required by owlready2
owlready2
