body {
  font-family: 'Inter', sans-serif;
}

.navbar-cxg {
    width: 100%;
    height: 48px; 
    background-color: #10161A; 
    position: fixed;
}

.navbar-cxg-link {
    display: inline-block;
    background: none;
    border-radius: 0;
    color: #A7B6C2;
    font-size: 13px;
    font-weight: 500;
    height: 22px;
    letter-spacing: -0.1px;
    line-height: 22px;
    min-height: 22px;
    padding: 0;
}

.navbar-cxg-anchor {
    color: #A7B6C2;
}

.navbar-cxg-anchor:visited {
    color: #A7B6C2;
}

.navbar-cxg-anchor:hover {
    color: white;
}

.wy-side-nav-search {
    background-color: #6f67ff;
}

.wy-nav-side {
    background: #0e1214;
}

.wy-menu-vertical a {
    color: #96a7b5;
}

.wy-menu-vertical a:hover {
    color: white;
}