pyarrow
pandas
anndata
numpy
tiledb
# NOTE: Until tiledbsoma is available on PyPi, you will need to build this dependency
# from source, per ./notebooks/README.md.
# tiledbsoma>=0.5.0
scipy
fsspec
s3fs
requests
aiohttp
Cython  # required by owlready2
wheel  # required by owlready2
owlready2
