name: Python Linting

on:
  pull_request:
    paths-ignore:
      - "api/r/**"
  push:
    branches: [main]

jobs:
  pre_commit_checks:
    name: pre-commit checks
    runs-on: [self-hosted, Linux, X64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: check backend
        uses: pre-commit/action@v3.0.0

