name: Python cellxgene_census package unit tests

on:
  pull_request:
    paths-ignore:
      - "api/r/**"
  push:
    branches: [main]

jobs:
  unit_tests_python_api:
    strategy:
      matrix:
        os: [single-cell-8c64g-runner, macos-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{matrix.os}}

    steps:
      - name: log system state
        if: ${{ matrix.os == 'single-cell-8c64g-runner' }}
        run: |
          free -g
          echo ---------
          df -kh
          echo ---------
          lscpu
          echo ---------
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies (including experimental)
        run: |
          python -m pip install -U pip setuptools wheel
          pip install --use-pep517 accumulation-tree # Geneformer dependency needs --use-pep517 for Cython
          pip install -r ./api/python/cellxgene_census/scripts/requirements-dev.txt
          pip install -e './api/python/cellxgene_census/[experimental]'
      - name: Test with pytest (API, main tests)
        run: |
          PYTHONPATH=. coverage run --parallel-mode -m pytest -v -rP --durations=20 ./api/python/cellxgene_census/tests/
      - name: Test with pytest (API, experimental)
        run: |
          PYTHONPATH=. coverage run --parallel-mode -m pytest -v -rP --durations=20 --experimental ./api/python/cellxgene_census/tests/experimental
      - uses: actions/upload-artifact@v3
        if: matrix.os == 'single-cell-8c64g-runner'
        with:
          name: coverage
          path: ./.coverage*
          retention-days: 3

  unit_tests_builder:
    strategy:
      matrix:
        os: [single-cell-8c64g-runner]
        python-version: ["3.11"]

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -e ./tools/cellxgene_census_builder/
          pip install -r ./tools/scripts/requirements-dev.txt
      - name: Test with pytest (builder)
        run: |
          PYTHONPATH=. coverage run --parallel-mode -m pytest -v -rP ./tools/cellxgene_census_builder/tests/
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: ./.coverage*
          retention-days: 3

  submit-codecoverage:
    needs:
      - unit_tests_builder
      - unit_tests_python_api
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v3
        with:
          name: coverage
          path: .
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: install requirements
        run: |
          pip install coverage
      - name: coverage report
        run: |
          coverage combine
          coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,PYTHON
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
