name: R cellxgene.census package checks

on:
  pull_request:
    paths-ignore:
      - "api/python/**"
      - "tools/cellxgene_census_builder/**"
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
        with:
          extra-repositories: https://tiledb-inc.r-universe.dev
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: ./api/r/cellxgene.census
          extra-packages: any::rcmdcheck, any::styler, any::roxygen2
          needs: check
          # Disable dependency caching so long as we depend on bleeding-edge
          # builds of tiledbsoma from r-universe. Its DESCRIPTION version
          # number isn't routinely updated to invalidate our cache.
          cache: false
      - name: styler
        run: Rscript -e 'library("styler"); style_pkg("api/r/cellxgene.census", dry="fail")'
      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: ./api/r/cellxgene.census
          args: 'c("--no-manual", "--as-cran", "--no-build-vignettes")'
