name: R cellxgene.census package checks

on:
  pull_request:
    paths-ignore:
      - "api/python/**"
      - "tools/cellxgene_census_builder/**"
  push:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        tiledbsoma_version: [tiledbsoma_release, tiledbsoma_latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          extra-repositories: https://tiledb-inc.r-universe.dev
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: ./api/r/cellxgene.census
          extra-packages: any::rcmdcheck, any::styler, any::roxygen2, any::remotes
          cache: true
      - name: install tiledbsoma
        # install tiledbsoma either from r-universe (release) or git HEAD (latest),
        # overwriting any version cached by setup-r-dependencies.
        run: |
          if [[ '${{ matrix.tiledbsoma_version }}' == 'tiledbsoma_latest' ]]; then
            Rscript -e 'remotes::install_git("https://github.com/single-cell-data/TileDB-SOMA.git", subdir="apis/r")'
          else
            Rscript -e 'install.packages("tiledbsoma", repos = c("https://tiledb-inc.r-universe.dev",
                                                                 "https://cloud.r-project.org"))'
          fi
      - name: styler
        run: Rscript -e 'library("styler"); style_pkg("api/r/cellxgene.census", dry="fail")'
      - name: check session info
        run: Rscript -e 'sessionInfo()'
      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: ./api/r/cellxgene.census
          args: 'c("--no-manual", "--as-cran", "--no-build-vignettes")'
          build_args: 'c("--no-manual", "--no-build-vignettes")'
          error-on: '"error"'

