name: cell_census Python package unit tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install pytest requests-mock
          pip install -e ./api/python/cell_census/
      - name: Test with pytest (API)
        run: |
          pytest ./api/python/cell_census/tests/

  unit_tests_builder:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install pytest requests-mock
          pip install -r ./tools/scripts/requirements.txt
          pip install -e ./tools/
      - name: Test with pytest (builder)
        run: |
          PYTHONPATH=. pytest ./tools/cell_census_builder/tests/
